# PORTA QUE A APLICAÇÃO IRÁ OUVIR
PORT=3000
# URL DO FRONTEND PARA CORS
FRONTEND_URL=http://localhost:5173

JWT_SECRET=<secret>
JWT_EXPIRES_IN_MS=3600000
JWT_ISSUER=furniro-api
JWT_AUDIENCE=furniro-client